ul {
    list-style-type: none;
    text-align: center;
    color: white;
}

body {
    background-color: black; 
    margin-top: 300px;
    font-family: 'Aptos', Calibri, Arial, Helvetica, sans-serif;
    font-size: 20pt;
}

li {
    margin-bottom: 20px;
}